p1  {
    background-color: #afb4ba;
    color: Black;
}

p2  {
    background-color: #888f95;
    color: Black;
}

p3  {
    background-color: #888f95;
    color: White;
}

#p4  {
    background-color: #888f95;
    color: Black
}

#p5  {
    background-color: #afb4ba;
    color: White;
}

#p6  {
    background-color: #afb4ba;
    color: Black;
}

image-with-spacing {
    width:50%;
    max-width:100%;
    height: auto;
    margin-right: 10px; /* Adjust the value to set the desired spacing*/
}

image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 100vh;
}

grid-item {
    width: 550%;
    height: auto;
    max-width: 100%;
}




