p1  {
    background-color: #afb4ba;
    color: Black;
}

p2  {
    background-color: #888f95;
    color: Black;
}

p3  {
    background-color: #888f95;
    color: White;
}

#p4  {
    background-color: #888f95;
    color: Black
}

#p5  {
    background-color: #afb4ba;
    color: White;
}

#p6  {
    background-color: #afb4ba;
    color: Black;
}




